#loader
{
	background-color: #000;
	background-image: url('../img/static/elegant-loader.gif');
	background-position: center;
	background-repeat: no-repeat;
	filter: alpha(opacity=40);
	height: 100%;
	width: 100%;
	top: 0px;
	right: 0px;
	position: fixed;
	opacity: 0.4;
	z-index: 10000000;
}

#loader > p {
  position: absolute;
  text-align: center;
  top: 54%;
  width: 100%;
  color: white;
}

.tab-content .tab-pane {    
    position: relative;
    /* padding: 20px 10px;
    border: 1px solid #CCC;
    border-radius: 6px; */
}

.content-wrapper > .row {
	/*padding-top: 70px;*/
} 

.tool-options a {
	font-size: 20px;
}

.nav a:focus {
	 outline: none; 
}

.tools .btn,.tools .btn:focus  {
	border: none;
	outline: none; 
}

.color-selector {
	border: 1px solid #CCC;
	cursor: pointer;
}

textarea {
	border: 1px solid #CCC;
}

.color-preview {
	//background-image: url("../img/static/rainbow.png");
	background:  url('../img/static/rainbow.png') repeat scroll 0 0 / cover;
	height: 24px;
	width: 70px;
	border-radius: 6px;
}

.pattern-preview {
	background:  url('../img/static/pattern.png') repeat scroll 0 0 / cover;
	height: 24px;
	width: 70px;
	border-radius: 6px;
}

/*.color-options {
	border: 1px solid #CCC;
	border-radius: 6px;
	float: left;
	width: 100%;
}

.color-options > div {
	height: 30px;
	border: 1px solid #CCC;
	margin: 5px;
	border-radius: 6px;
	cursor: pointer;
}*/

.font-icons {
	font-size: 40px;
}

.stage > img {
	width: 100%;
	height: auto;
}


#text-font-fill, #text-font-stroke,#text-font-pattern, #image-fill {
	position: absolute;
	margin: 10px 0;
}

.text-curve-prop {
	display: none;
}

/* Image Tab - Start */
.display-gallery{
	max-height: 350px;
	overflow: auto;
	z-index: 2;
	background: #ffffff
}


.display-gallery > .col-xs-3, .display-gallery img{
	padding: 0px !important;
	cursor: pointer;
}


.display-gallery > .col-xs-3{
	padding: 0px !important;
	cursor: pointer;
}

.display-gallery .well {
	cursor: pointer;
}
/* Image Tab - End */

.preview-images img {
	cursor: pointer;
	margin-bottom: 5px;
}

.saved-products img {
	cursor: pointer;
}
.saved-products > div {
	padding: 0px !important;
	cursor: pointer;
}

/* Zoom Navigation - Start */
.circle_outer {
   background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    border: 1px solid #d3d3d3;
    border-radius: 60px !important;
    height: 60px;
    margin-top: -4%;
    position: relative;
    width: 60px;
}
.left_arrow {
		left: -17%;
    position: absolute;
    top: 28%;
}
.top_arrow {
    position: absolute;
    left: 29%;
    top: -17%;
}
.right_arrow {
    position: absolute;
    right: -17%;
    top: 28%;
}

.bottom_arrow {
    bottom: -17%;
    left: 29%;
    position: absolute;
}

.circle_outer a:hover, .circle_outer a:active, .circle_outer a:focus, #text-properties button {
    outline: 0;
} 

/*.text-center_img a {
    cursor: auto;
}

.text-center_img {
    margin-top: 28%;
    text-align: center;
}*/
/* Zoom Navigation - Ends */

.ion-1-half {
	font-size: 1.5em;
}

.ion-2x {
	font-size: 2em;
}

/* Override Bootstrap - Start */
* {
	border-radius: 0 !important;
}

body { 
	overflow-x: hidden;
	height:100vh;
}

.img-thumbnail {
	border: none !important;
}

.custom-pane-header {
	font-family: Trebuchet MS !important;
	margin-top: 0px !important;
}

#text-properties .btn {
	padding: 6px 0 !important;
}

.well-sm {
	padding: 0px !important;
}
/* Override Bootstrap - End */

#mCSB_1_scrollbar_vertical {
	z-index: 100;
}

.top3 { margin-top:3%; }
.top5 { margin-top:5%; }
.top7 { margin-top:7%; }
.top10 { margin-top:10%; }
.top15 { margin-top:15%; }
.top17 { margin-top:17%; }
.top30 { margin-top:30%; }

.total_price_col {
    border-top: 1px solid #ddd;
}